@import './colors.scss';

$lg: 1024px;

@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin get-image($image) {
  &-#{$image} {
    background-image: url('~@/assets/images/#{$image}.png');
  }
}

body * {
  font-family: sans-serif;
  color: $gray-800;

  pre,
  p {
    margin: 0;
  }

  a {
    &:hover {
      color: $gray-500;
    }
  }
}

.global {
  &__text-color {
    &_common {
      color: $gray-800;
    }

    &_uncommon {
      color: $green-500;
    }

    &_rare {
      color: $blue-500;
    }

    &_epic {
      color: $purple-500;
    }

    &_legendary {
      color: $yellow-600;
    }
  }
}
